{# Modale Mentions légales #}
<dialog id="legal-modal"
        class="fr-modal"
        role="dialog"
        aria-labelledby="legal-modal-title"
        aria-modal="true">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-10">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button type="button"
                                class="fr-btn--close fr-btn"
                                aria-controls="legal-modal">
                            {{ gT("Close") }}
                        </button>
                    </div>
                    <div class="fr-modal__content">
                        <h2 id="legal-modal-title" class="fr-modal__title">
                            {{ gT("Mentions légales") }}
                        </h2>

                        {% if aSurveyInfo.options.legal_content %}
                            {{ aSurveyInfo.options.legal_content|raw }}
                        {% else %}
                            <h3 class="fr-h5">Éditeur</h3>
                            {% if aSurveyInfo.options.editor %}
                                {{ aSurveyInfo.options.editor|raw }}
                            {% else %}
                                <p>[Cette information n'a pas été renseignée par l'entité en charge de ce formulaire]</p>
                            {% endif %}

                            <h3 class="fr-h5">Directeur de la publication</h3>
                            {% if aSurveyInfo.options.publication_director %}
                                {{ aSurveyInfo.options.publication_director|raw }}
                            {% else %}
                                <p>[Cette information n'a pas été renseignée par l'entité en charge de ce formulaire]</p>
                            {% endif %}

                            <h3 class="fr-h5">Hébergeur</h3>
                            {% if aSurveyInfo.options.host %}
                                {{ aSurveyInfo.options.host|raw }}
                            {% else %}
                                <p>[Cette information n'a pas été renseignée par l'entité en charge de ce formulaire]</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
