{#
    LimeSurvey
    Copyright (C) 2007-2017 The LimeSurvey Project Team / Louis Gac
    All rights reserved.
    License: GNU/GPL License v2 or later, see LICENSE.php
    LimeSurvey is free software. This version may have been modified pursuant
    to the GNU General Public License, and as distributed it includes or
    is derivative of works licensed under the GNU General Public License or
    other free or open source software licenses.
    See COPYRIGHT.php for copyright notices and details.

    (¯`·._.·(¯`·._.· Global Layout  ·._.·´¯)·._.·´¯)

    This is the global layout that will be used to displayed most pages (less the error page)
    If you're creating your own template, remember there is no obligation to respect the current file flow of this template.
    This is different from the old LimeSurvey template engine, where you had to provide every one of the pstpl files.
    Here, you must have a file called main_layout.twig (called from SurveyRuntimeHelper::run() ).
    Other than that, you're free to organize your files and inclusions as you want.



    (¯`·._.·(¯`·._.· Bootstrap ·._.·´¯)·._.·´¯)

    LimeSurvey uses Bootstrap.
    See: https://getbootstrap.com

    This template is an instance of Bootswatch Theme Flatly.
    See: https://bootswatch.com/



    (¯`·._.·(¯`·._.· Twig Engine  ·._.·´¯)·._.·´¯)

    The template engine uses Twig.
    See: http://twig.sensiolabs.org/

    The main variable is aSurveyInfo. It's an array containing the main information about the survey.
    aSurveyInfo also contains other needed arrays, such as aNavigator, or aQuestionGroups (which contain aQuestions), etc.

    If you want to see what is availabe in aSurveyInfo, turn debug mode on in application/config.php, and copy the following line to the end of the <body> element below:
    {{ dump(aSurveyInfo) }}

    To echo a variable, just insert                      : {{ variable }}
    To translate a string, just insert                   : {{gT( string )}}

    NOTE: aSurveyInfo should be cleaned to remove the unnecessary data.


    (¯`·._.·(¯`·._.· Twig Engine: advanced  ·._.·´¯)·._.·´¯)

    For security reason, Twig is in a sandBox.
    About sandBox, see: http://twig.sensiolabs.org/doc/2.x/api.html#sandbox-extension

    Available functions/Object Methods are defined in internal.php: components => twigRenderer
    Eg:
         Functions : 'include', 'dump', 'flatEllipsizeText', 'getLanguageData', 'array_flip', 'array_intersect_key', 'registerPublicCssFile', 'getAllQuestionClasses', 'getShowqnumcode', 'intval'

         Methods   :
                    - CHtml::textfield() (and: form, link, emailField, beginForm, endForm, dropDownList,htmlButton)
                    - Survey::getAllLanguages()
                    - LSHttpRequest::getParam()

    If you need to add simple functions or static methods, just add them to internal.php.
    If you need to add complex process, use application/core/LS_Twig_Extension.php (more help/comments there)


    NOTE: Feel free to ask for functions, variables, etc, that you feel are missing - https://bugs.limesurvey.org/my_view_page.php
#}

{# Traductions centralisées du thème — rend {{ t.cle }} disponible dans tous les sous-templates #}
{# Voir subviews/translations.twig pour la documentation complète #}
{% set _currentLang = aSurveyInfo.alanguageChanger.datas.sSelected|default('fr') %}
{% set _themeLang = {
    'fr': {
        'step': 'Étape',
        'of': 'sur',
        'next_step': 'Étape suivante :',
        'current_step': 'Étape courante',
        'survey_navigation': 'Navigation dans le questionnaire',
        'quick_access': 'Accès rapide',
        'main_navigation': 'Navigation principale',
        'content': 'Contenu',
        'footer': 'Pied de page',
        'close': 'Fermer',
        'home': 'Accueil',
        'steps_list': 'Liste des étapes',
        'display_settings': 'Paramètres d\'affichage',
        'select_language': 'Sélectionner une langue',
        'french_republic': 'République Française',
        'menu': 'Menu',
        'light_theme': 'Thème clair',
        'dark_theme': 'Thème sombre',
        'system_theme': 'Système',
        'system_theme_hint': 'Utilise les paramètres système',
        'choose_theme': 'Choisissez un thème pour personnaliser l\'apparence du site.',
        'legal_notices': 'Mentions légales',
        'privacy_policy': 'Politique de confidentialité',
        'cookies_management': 'Gestion des cookies',
        'accessibility_statement': 'Déclaration d\'accessibilité',
        'choose_option': 'Veuillez choisir l\'une des options suivantes',
        'select_one_or_more': 'Sélectionnez une ou plusieurs réponses',
        'select_one_or_more_comments': 'Sélectionnez une ou plusieurs réponses et ajoutez des commentaires',
        'response_matrix': 'Matrice de réponses',
        'response_matrix_column': 'Matrice de réponses par colonne',
        'dual_scale_matrix': 'Matrice de réponses à double échelle',
        'multiflexi_matrix': 'Matrice de réponses multi-flexible',
        'increase_same_decrease_matrix': 'Matrice Augmentation/Identique/Diminution',
        'mandatory_field': 'Champ obligatoire',
        'please_specify': 'Veuillez préciser :',
        'please_specify_placeholder': 'Veuillez préciser…',
        'no_comment': 'Pas de commentaire',
        'no_available_answers': 'Aucune réponse disponible',
        'error_no_answers': 'Erreur : cette question n\'a pas d\'options de réponse.',
        'show_code': 'Afficher le code',
        'hide_code': 'Masquer le code',
        'show_hide_code': 'Afficher/Masquer le code',
        'maximum_characters': 'Nombre maximum de caractères :',
        'reset_slider': 'Réinitialiser le curseur',
        'star': 'étoile',
        'stars': 'étoiles',
        'emoji_rating_1': 'Très insatisfait',
        'emoji_rating_2': 'Insatisfait',
        'emoji_rating_3': 'Neutre',
        'emoji_rating_4': 'Satisfait',
        'emoji_rating_5': 'Très satisfait',
        'rank': 'Classement',
        'available_choices': 'Choix disponibles',
        'movable_element': 'Élément déplaçable',
        'press_enter_to_rank': 'Appuyez sur Entrée pour ajouter au classement',
        'ranking_instructions': 'Utilisez les boutons ou Alt+Flèches pour réordonner',
        'ranking_help': 'Double-cliquez ou glissez-déposez les éléments de la liste de gauche vers la droite — l\'élément le mieux classé doit être en haut à droite.',
        'select_file': 'Sélectionner un fichier à envoyer',
        'select_files': 'Sélectionner un ou plusieurs fichiers à envoyer',
        'click_to_select_file': 'Cliquez pour sélectionner un fichier depuis votre ordinateur',
        'select_multiple_files': 'Vous pouvez sélectionner plusieurs fichiers (Ctrl+Clic ou Cmd+Clic)',
        'allowed_file_types': 'Types de fichiers autorisés :',
        'max_files': 'Nombre maximum de fichiers :',
        'max_file_size': 'Taille maximum par fichier :',
        'upload_restrictions': 'Restrictions d\'envoi :',
        'uploading_file': 'Envoi du fichier en cours',
        'uploaded_files': 'Fichiers envoyés',
        'uploaded_files_colon': 'Fichiers envoyés :',
        'file_deleted': 'Fichier supprimé',
        'file_type': 'Type de fichier',
        'delete_file': 'Supprimer le fichier',
        'delete_this_file': 'Supprimer ce fichier',
        'upload_error': 'Une erreur est survenue lors de l\'envoi du fichier.',
        'file_too_large': 'Désolé, ce fichier est trop volumineux.',
        'no_more_files': 'Désolé, vous ne pouvez plus envoyer de fichiers !',
        'enter_access_code': 'Si vous avez reçu un code d\'accès, veuillez le saisir ci-dessous et cliquer sur Continuer.',
        'access_code_anonymous': 'Si vous avez utilisé un code d\'accès pour accéder à cette enquête, soyez assuré(e) que ce code ne sera pas stocké avec vos réponses. Il est géré dans une base de données séparée et ne sera mis à jour que pour indiquer si vous avez (ou non) complété cette enquête. Il n\'est pas possible d\'associer les codes d\'accès aux réponses.',
        'confirm_access_code': 'Veuillez confirmer le code d\'accès en répondant à la question de sécurité ci-dessous et cliquer sur Continuer.',
        'anonymous_survey_notice': 'Le relevé de vos réponses ne contient aucune information permettant de vous identifier, sauf si une question le demande explicitement.',
        'anonymous_pseudonym': 'Pour rester anonyme, veuillez utiliser un pseudonyme comme nom d\'utilisateur. Une adresse e-mail n\'est pas requise.',
        'save_survey_instructions': 'Vos réponses seront sauvegardées avec ce nom et ce mot de passe. Vous pourrez reprendre plus tard en vous connectant avec les mêmes identifiants.',
        'save_button_info': 'Après avoir cliqué sur le bouton Sauvegarder, vous pouvez fermer cette fenêtre ou continuer à remplir le questionnaire.',
        'register_email_info': 'Entrez vos coordonnées ci-dessous, un e-mail contenant le lien pour participer à cette enquête vous sera envoyé immédiatement.',
        'register_email_details': 'Si vous fournissez une adresse e-mail, un e-mail contenant les détails vous sera envoyé.',
        'register_wait': 'Vous pouvez vous inscrire à cette enquête mais vous devez attendre le %s avant de commencer.',
        'survey_not_active': 'Vos réponses n\'ont pas été enregistrées. Cette enquête n\'est pas encore active.',
        'note_end_url': 'Note : le chargement automatique de l\'URL de fin ne fonctionne que si l\'enquête est activée.',
        'enter_name_password': 'Entrez un nom et un mot de passe pour cette enquête et cliquez sur Sauvegarder.',
        'participate_restricted': 'Pour participer à cette enquête restreinte, vous avez besoin d\'un code d\'accès valide.',
        'load_saved_survey': 'Vous pouvez charger une enquête que vous avez précédemment sauvegardée depuis cet écran.',
        'register_to_participate': 'Vous pouvez vous inscrire à cette enquête si vous souhaitez y participer.',
        'thank_you_registering': 'Merci de votre inscription. Vous allez recevoir un e-mail sous peu.'
    },
    'en': {
        'step': 'Step',
        'of': 'of',
        'next_step': 'Next step:',
        'current_step': 'Current step',
        'survey_navigation': 'Survey navigation',
        'quick_access': 'Quick access',
        'main_navigation': 'Main navigation',
        'content': 'Content',
        'footer': 'Footer',
        'close': 'Close',
        'home': 'Home',
        'steps_list': 'Steps list',
        'display_settings': 'Display settings',
        'select_language': 'Select a language',
        'french_republic': 'French Republic',
        'menu': 'Menu',
        'light_theme': 'Light theme',
        'dark_theme': 'Dark theme',
        'system_theme': 'System',
        'system_theme_hint': 'Use system settings',
        'choose_theme': 'Choose a theme to customize the appearance of the site.',
        'legal_notices': 'Legal notices',
        'privacy_policy': 'Privacy policy',
        'cookies_management': 'Cookies management',
        'accessibility_statement': 'Accessibility statement',
        'choose_option': 'Please choose one of the following options',
        'select_one_or_more': 'Select one or more answers',
        'select_one_or_more_comments': 'Select one or more answers and add comments',
        'response_matrix': 'Response matrix',
        'response_matrix_column': 'Response matrix by column',
        'dual_scale_matrix': 'Dual scale response matrix',
        'multiflexi_matrix': 'Multi-flexi response matrix',
        'increase_same_decrease_matrix': 'Increase/Same/Decrease response matrix',
        'mandatory_field': 'Mandatory field',
        'please_specify': 'Please specify:',
        'please_specify_placeholder': 'Please specify...',
        'no_comment': 'No comment',
        'no_available_answers': 'No available answers',
        'error_no_answers': 'Error: There are no answer options for this question.',
        'show_code': 'Show code',
        'hide_code': 'Hide code',
        'show_hide_code': 'Show/Hide code',
        'maximum_characters': 'Maximum characters:',
        'reset_slider': 'Reset slider',
        'star': 'star',
        'stars': 'stars',
        'emoji_rating_1': 'Very unsatisfied',
        'emoji_rating_2': 'Unsatisfied',
        'emoji_rating_3': 'Neutral',
        'emoji_rating_4': 'Satisfied',
        'emoji_rating_5': 'Very satisfied',
        'rank': 'Rank',
        'available_choices': 'Available choices list',
        'movable_element': 'Movable element',
        'press_enter_to_rank': 'Press Enter to add to ranking',
        'ranking_instructions': 'Ranking list, use buttons or Alt+Arrow keys to reorder',
        'ranking_help': 'Double-click or drag-and-drop items in the left list to move them to the right - your highest ranking item should be on the top right, moving through to your lowest ranking item.',
        'select_file': 'Select file to upload',
        'select_files': 'Select file(s) to upload',
        'click_to_select_file': 'Click to select a file from your computer',
        'select_multiple_files': 'You can select multiple files (Ctrl+Click or Cmd+Click)',
        'allowed_file_types': 'Allowed file types:',
        'max_files': 'Maximum files:',
        'max_file_size': 'Maximum size per file:',
        'upload_restrictions': 'Upload restrictions:',
        'uploading_file': 'Uploading file',
        'uploaded_files': 'Uploaded files',
        'uploaded_files_colon': 'Uploaded files:',
        'file_deleted': 'File deleted',
        'file_type': 'File type',
        'delete_file': 'Delete file',
        'delete_this_file': 'Delete this file',
        'upload_error': 'An error occurred uploading your file.',
        'file_too_large': 'Sorry, this file is too large.',
        'no_more_files': 'Sorry, no more files can be uploaded!',
        'enter_access_code': 'If you have been issued an access code, please enter it in the box below and click continue.',
        'access_code_anonymous': 'If you used an identifying access code to access this survey, please rest assured that this code will not be stored together with your responses. It is managed in a separate database and will only be updated to indicate whether you did (or did not) complete this survey. There is no way of matching identification access codes with survey responses.',
        'confirm_access_code': 'Please confirm the access code by answering the security question below and click continue.',
        'anonymous_survey_notice': 'The record of your survey responses does not contain any identifying information about you, unless a specific survey question explicitly asked for it.',
        'anonymous_pseudonym': 'To remain anonymous please use a pseudonym as your username, also an email address is not required.',
        'save_survey_instructions': 'Your survey will be saved using that name and password, and can be completed later by logging in with the same name and password.',
        'save_button_info': 'After having clicked the save button you can either close this browser window or continue filling out the survey.',
        'register_email_info': 'Enter your details below, and an email containing the link to participate in this survey will be sent immediately.',
        'register_email_details': 'If you give an email address, an email containing the details will be sent to you.',
        'register_wait': 'You may register for this survey but you have to wait for the %s before starting the survey.',
        'survey_not_active': 'Your survey responses have not been recorded. This survey is not yet active.',
        'note_end_url': 'Note: Automatically loading the end URL works only if the survey is activated.',
        'enter_name_password': 'Enter a name and password for this survey and click save below.',
        'participate_restricted': 'To participate in this restricted survey, you need a valid access code.',
        'load_saved_survey': 'You can load a survey that you have previously saved from this screen.',
        'register_to_participate': 'You may register for this survey if you wish to take part.',
        'thank_you_registering': 'Thank you for registering. You will receive an email shortly.'
    }
} %}
{% set t = _themeLang[_currentLang]|default(_themeLang.fr) %}

<!DOCTYPE html>
<html lang="{{ aSurveyInfo.languagecode }}" dir="{{ aSurveyInfo.dir }}" class="{{ aSurveyInfo.languagecode }} dir-{{ aSurveyInfo.dir }} {{ aSurveyInfo.class.html }}" {{ aSurveyInfo.attr.html }} data-fr-theme="{{ aSurveyInfo.options.dsfr_theme ? aSurveyInfo.options.dsfr_theme : 'light' }}">
    {% block head %}
    {# Headers, metadata, etc #}
    {{ include('./subviews/header/head.twig') }}
    {% endblock %}
    <body class=" {{ aSurveyInfo.class.body }} lang-{{aSurveyInfo.languagecode}} {{aSurveyInfo.surveyformat}} {% if( aSurveyInfo.options.brandlogo == "on") %}brand-logo{% endif %}" {{ aSurveyInfo.attr.body }}>

        {# DSFR Skip Links for accessibility #}
        <div class="fr-skiplinks">
            <nav class="fr-container" role="navigation" aria-label="{{ t.quick_access }}">
                <ul class="fr-skiplinks__list">
                    <li>
                        <a class="fr-link" href="#survey-header">{{ t.main_navigation }}</a>
                    </li>
                    <li>
                        <a class="fr-link" href="#main-content">{{ t.content }}</a>
                    </li>
                    <li>
                        <a class="fr-link" href="#footer">{{ t.footer }}</a>
                    </li>
                </ul>
            </nav>
        </div>

        {# Notice if emcache is on or off, used by tests. #}
        {% if aSurveyInfo.emcache %}
            <span style="display: none;" id="__emcache_debug" value="on"></span>
        {% else %}
            <span style="display: none;" id="__emcache_debug" value="off"></span>
        {% endif %}

        {# This used for the pjax system #}
        {% block pjaxbegin %}
            <div id="beginScripts" class="script-container">
                <###begin###>
            </div>
        {% endblock %}       

        {# Ajaxify cannot handle an element that is a direct child of body, so => create simple wrapper section #}
        <article>

            <div id="{{ aSurveyInfo.id.dynamicreload }}">
            {% block body %}

                {# Bootstrap Navigation Bar: the top menu #}
                {% block nav_bar %}
                    {{ include('./subviews/header/nav_bar.twig') }}
                {% endblock %}

                {# H1 sr-only pour améliorer la navigation avec lecteurs d'écran (RGAA 9.1) #}
                {# Placé ici pour être le premier titre de la page, avant la barre de progression (H2) #}
                <h1 class="fr-sr-only">{{ gT(aSurveyInfo.name) }}</h1>

                {# Top Container: in this template, it contains only  #}
                {% block progress %}
                    {{ include('./subviews/header/progress_bar.twig') }}
                {% endblock %}

                <!-- Outer Frame Container -->
                {% block content %}
                    {#
                        Content depends on the action (survey, questions, register, assesments, submit, etc)
                        Action are in ./subviews/content/
                    #}
                    {% set sViewContent =  './subviews/content/' ~ aSurveyInfo.include_content ~ '.twig' %}
                    {% include './subviews/content/outerframe.twig' with {'include_content': sViewContent } %}
                {% endblock %}

                {# Bootstrap alert modal #}
                {{ include('./subviews/messages/bootstrap_alert_modal.twig') }}

                {# DSFR Question Index Modal #}
                {{ include('./subviews/navigation/question_index_modal_dsfr.twig') }}

                {# Basic ThemeScript options  #}
                {{ registerScript("BasicThemeScripts", "
                if(window.basicThemeScripts === undefined){ 
                    window.basicThemeScripts = new ThemeScripts(); 
                } 
                basicThemeScripts.initGlobal(); 
                ", "POS_END") }}

            {% endblock %}
            </div>

        </article>
        {% block footer %}
            {{ include('./subviews/footer/footer.twig') }}
        {% endblock %}
        {% block pjaxend %}
            <div id="bottomScripts" class="script-container">
                <###end###>
            </div>
        {% endblock %}   

        {% block themescripts %}
            <script>
                window.basicThemeScripts.init();
            </script>
        {% endblock %}
        
    </body>
</html>
