{# Marqueur de champ obligatoire : astérisque texte (pas d'icône-fonte,
   rendue vide sans FontAwesome) + alternative sr-only. #}
<span class="{{ aSurveyInfo.class.required }} asterisk required-asterisk" {{ aSurveyInfo.attr.required }} aria-hidden="true">*</span>
<span class="{{ aSurveyInfo.class.requiredspan }} fr-sr-only" {{ aSurveyInfo.attr.requiredspan }}> ({{ gT("Mandatory") }})</span>
