{#
    This file is part of LimeSurvey
    Copyright (C) 2007-2018 The LimeSurvey Project Team
    This file render the exit button accessible without javascript
#}

<div class="{{ aSurveyInfo.class.clearallwrapper }}">
    <div class="fr-checkbox-group fr-mb-1w">
        <input {{ aSurveyInfo.attr.clearallconfirm }} id="confirm-clearall" class="{{ aSurveyInfo.class.clearallconfirm }}">
        <label class="fr-label {{ aSurveyInfo.class.clearalllabel }}" for="confirm-clearall">{{ gT("Please confirm you want to clear your response?") }}</label>
    </div>
    <button {{ aSurveyInfo.attr.clearallbutton }} class="{{ aSurveyInfo.class.clearallbutton }} fr-btn fr-btn--tertiary-no-outline" title="{{ gT("This action need to be confirmed.") }}">{{ gT("Exit and clear survey") }}</button>
</div>
