{#
/**
 * List radio 'Other' row - DSFR Theme
 * DSFR-compliant radio button with text input for "Other" option
 *
 * Variables available:
 * @var $name
 * @var $answer_other
 * @var $sDisplayStyle
 * @var $myfname
 * @var $othertext
 * @var $checkedState
 * @var $kpclass
 * @var $checkconditionFunction
 */
#}

<!-- answer_row_other DSFR -->
<div class="fr-fieldset__element radio-item answer-item" {{ sDisplayStyle }}>
    <div id='javatbd{{ myfname }}' class="fr-radio-group">
        <input
            type="radio"
            value="-oth-"
            name="{{ name }}"
            id="SOTH{{ name }}"
            {{ checkedState }}
            aria-controls="answer{{ name }}othertext"
            onclick="{{ checkconditionFunction }}(this.value, this.name, this.type)"
        />
        <label class="fr-label" for="SOTH{{ name }}" id="label-id-{{ name }}">
            {{ processString(othertext) }}
        </label>
    </div>

    <!-- Text input for "Other" -->
    <div class="fr-input-group fr-mt-1w">
        <label class="fr-label fr-sr-only" for="answer{{ name }}othertext">
            {{ t.if_other_specify }}
        </label>
        <input
            type="text"
            class="fr-input {{ kpclass }}"
            id="answer{{ name }}othertext"
            name="{{ name }}other"
            title="{{ t.if_other_specify }}"
            {{ answer_other }}
            {% if numbers_only %} data-number="1" {% endif %}
        />
    </div>

    <script>
        // Auto-check le radio "Autre" quand l'utilisateur tape dans le champ texte
        $("#answer{{ name }}othertext").on("keyup",function(){
            if($.trim($(this).val())!=''){
                $('#SOTH{{ name }}').click();
            };
            {{ checkconditionFunction }}(this.value, '{{ name }}', 'text');
        });
    </script>
</div>
<!-- end of answer_row_other -->
