{#
/**
 * List Radio - DSFR Theme
 * Radio buttons with DSFR fr-radio-group component
 *
 * Variables available:
 * @var $name
 * @var $value
 * @var $sRows
 * @var $iNbCols
 */
#}

<!-- DSFR Radio List -->
{{ sTimer }}
<fieldset class="fr-fieldset {{ coreClass }}" aria-labelledby="ls-question-text-{{ name }}"{% if iNbCols > 1 %} data-column-count={{ iNbCols }}{% endif %}>
    <legend class="fr-sr-only" id="ls-question-text-{{ name }}-legend">
        {{ gT("Choose one of the following answers") }}
    </legend>
    {# Attribut backoffice « Afficher les colonnes » (display_columns) :
       même grille ls-columns que multiplechoice. #}
    <div class="fr-fieldset__content{% if iNbCols > 1 %} ls-columns ls-columns-{{ iNbCols }}{% endif %}">
        {{ sRows }}
    </div>
</fieldset>

{# Value for expression manager javascript #}
{{ C.Html.hiddenField("java"~name,value,({
    'id' : "java"~name,
    'disabled' : true,
}))
}}
<!-- end of answer -->
